@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Italic.ttf");
  font-style: italic;
}

body {
  font-family: Poppins;
  background-color: #fafafa;
}

body button:focus {
  outline: none;
}

nav {
  width: 100%;
  height: 100px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
}

nav .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
}

nav .content .left {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .content .left h2 {
  color: #ff541e;
  font-size: 22px;
  font-weight: 600;
}

nav .content .center {
  width: 40%;
  height: 100%;
}

nav .content .center .menu {
  width: 100%;
  height: 100%;
}

nav .content .center .menu ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .content .center .menu ul a {
  text-decoration: none;
  cursor: pointer;
  color: #ababab;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 300ms;
  transition: 300ms;
}

nav .content .center .menu ul a hr {
  width: 30px;
  position: absolute;
  top: 30px;
  height: 2px;
  border: none;
  background-color: white;
  -webkit-transition: 300ms;
  transition: 300ms;
}

nav .content .center .menu ul a li {
  list-style-type: none;
  font-size: 14px;
  font-weight: 500;
  color: inherit;
}

nav .content .center .menu ul a.active {
  color: #212832;
  -webkit-transition: 300ms;
  transition: 300ms;
}

nav .content .center .menu ul a.active hr {
  background-color: #ff541e;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-animation: hr-animation 1s;
          animation: hr-animation 1s;
}

nav .content .center .menu ul a:hover {
  color: #212832;
  -webkit-transition: 300ms;
  transition: 300ms;
}

nav .content .center .menu ul a:hover hr {
  background-color: #ff541e;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-animation: hr-animation 300ms;
          animation: hr-animation 300ms;
}

nav .content .right {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .content .right .button {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .content .right .button .btn-login {
  padding: 10px 20px 10px 20px;
  background-color: white;
  color: #ff541e;
  border: none;
  border-radius: 5px;
  font-family: Poppins;
  font-weight: 600;
}

nav .content .right .button .btn-signup {
  padding: 10px 20px 10px 20px;
  background-color: #ff541e;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: Poppins;
  font-weight: 600;
}

.main-home {
  width: 100%;
  height: 657px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-home .content {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.main-home .content .circle-animation {
  border-radius: 50px;
  position: absolute;
  z-index: 12;
}

.main-home .content .circle-animation-1 {
  background-color: #212832;
  left: 0;
  top: 30px;
  width: 50px;
  height: 50px;
  -webkit-animation: circle-animation-1 4000ms infinite;
          animation: circle-animation-1 4000ms infinite;
}

.main-home .content .circle-animation-2 {
  background-color: #ffc736;
  right: 30px;
  top: 240px;
  width: 40px;
  height: 40px;
  -webkit-animation: circle-animation-2 3s infinite;
          animation: circle-animation-2 3s infinite;
}

.main-home .content .circle-animation-3 {
  background-color: #ff541e;
  left: 0;
  bottom: 30px;
  width: 30px;
  height: 30px;
  -webkit-animation: circle-animation-3 3000ms infinite;
          animation: circle-animation-3 3000ms infinite;
}

.main-home .content .left {
  width: 45%;
}

.main-home .content .left .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main-home .content .right {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-home .content .right .text {
  margin-bottom: 30px;
}

.main-home .content .right .text h5 {
  color: #ababab;
  margin-bottom: 10px;
}

.main-home .content .right .text h1 {
  color: #212832;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}

.main-home .content .right .text h1 span {
  color: #ff541e;
}

.main-home .content .right .text p {
  color: #ababab;
  line-height: 28px;
  font-size: 14px;
  margin-bottom: 30px;
}

.main-home .content .right .text .btn-explore {
  padding: 10px 20px 10px 20px;
  background-color: white;
  color: #212832;
  border: 2px solid #ff541e;
  border-radius: 5px;
  font-family: Poppins;
  font-weight: 600;
  -webkit-box-shadow: 10px 10px 15px rgba(33, 40, 50, 0.05);
          box-shadow: 10px 10px 15px rgba(33, 40, 50, 0.05);
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.main-home .content .right .text .btn-explore:hover {
  -webkit-transition: 300ms;
  transition: 300ms;
  background-color: #ff541e;
  color: white;
  -webkit-box-shadow: 10px 10px 15px rgba(255, 84, 30, 0.05);
          box-shadow: 10px 10px 15px rgba(255, 84, 30, 0.05);
}

.main-home .content .right .slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-home .content .right .slider .circle {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f5f6;
  z-index: 11;
  border-radius: 50px;
  -webkit-transition: 300ms;
  transition: 300ms;
  cursor: pointer;
}

.main-home .content .right .slider .circle:hover {
  -webkit-transition: 300ms;
  transition: 300ms;
  background-color: #ff541e;
  color: white;
}

.main-home .content .right .slider .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
}

.main-home .content .right .slider .images .img {
  width: 190px;
  height: 200px;
  overflow: hidden;
  background-color: white;
  position: absolute;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-radius: 10px;
  top: 0;
  cursor: pointer;
}

.main-home .content .right .slider .images .img img {
  width: 100%;
}

.main-home .content .right .slider .images .img:hover {
  -webkit-transition: 300ms;
  transition: 300ms;
  top: -25px;
  height: 250px;
  width: 220px;
  -webkit-box-shadow: 0 0 50px rgba(33, 40, 50, 0.1);
          box-shadow: 0 0 50px rgba(33, 40, 50, 0.1);
  z-index: 10;
}

.main-home .content .right .slider .images .img.active {
  -webkit-transition: 300ms;
  transition: 300ms;
  top: -25px;
  height: 250px;
  width: 220px;
  -webkit-box-shadow: 0 0 50px rgba(33, 40, 50, 0.1);
          box-shadow: 0 0 50px rgba(33, 40, 50, 0.1);
  z-index: 10;
}

.main-home .content .right .slider .images .img1 {
  left: 0;
}

.main-home .content .right .slider .images .img2 {
  left: 200px;
}

.main-home .content .right .slider .images .img3 {
  left: 400px;
}

.main-home .content .right .slider .images .img4 {
  left: 600px;
}

@-webkit-keyframes circle-animation-1 {
  0% {
    top: 30px;
  }
  1% {
    top: 31px;
  }
  2% {
    top: 32px;
  }
  3% {
    top: 33px;
  }
  4% {
    top: 34px;
  }
  5% {
    top: 35px;
  }
  6% {
    top: 36px;
  }
  7% {
    top: 37px;
  }
  8% {
    top: 38px;
  }
  9% {
    top: 39px;
  }
  10% {
    top: 40px;
  }
  11% {
    top: 41px;
  }
  12% {
    top: 42px;
  }
  13% {
    top: 43px;
  }
  14% {
    top: 44px;
  }
  15% {
    top: 45px;
  }
  16% {
    top: 46px;
  }
  17% {
    top: 47px;
  }
  18% {
    top: 48px;
  }
  19% {
    top: 49px;
  }
  20% {
    top: 50px;
  }
  21% {
    top: 51px;
  }
  22% {
    top: 52px;
  }
  23% {
    top: 53px;
  }
  24% {
    top: 54px;
  }
  25% {
    top: 55px;
  }
  26% {
    top: 54px;
  }
  27% {
    top: 53px;
  }
  28% {
    top: 52px;
  }
  29% {
    top: 51px;
  }
  30% {
    top: 50px;
  }
  31% {
    top: 49px;
  }
  32% {
    top: 48px;
  }
  33% {
    top: 47px;
  }
  34% {
    top: 46px;
  }
  35% {
    top: 45px;
  }
  36% {
    top: 44px;
  }
  37% {
    top: 43px;
  }
  38% {
    top: 42px;
  }
  39% {
    top: 41px;
  }
  40% {
    top: 40px;
  }
  41% {
    top: 39px;
  }
  42% {
    top: 38px;
  }
  43% {
    top: 37px;
  }
  44% {
    top: 36px;
  }
  45% {
    top: 35px;
  }
  46% {
    top: 34px;
  }
  47% {
    top: 33px;
  }
  48% {
    top: 32px;
  }
  49% {
    top: 31px;
  }
  50% {
    top: 30px;
  }
  51% {
    top: 29px;
  }
  52% {
    top: 28px;
  }
  53% {
    top: 27px;
  }
  54% {
    top: 26px;
  }
  55% {
    top: 25px;
  }
  56% {
    top: 24px;
  }
  57% {
    top: 23px;
  }
  58% {
    top: 22px;
  }
  59% {
    top: 21px;
  }
  60% {
    top: 20px;
  }
  61% {
    top: 19px;
  }
  62% {
    top: 18px;
  }
  63% {
    top: 17px;
  }
  64% {
    top: 16px;
  }
  65% {
    top: 15px;
  }
  66% {
    top: 14px;
  }
  67% {
    top: 13px;
  }
  68% {
    top: 12px;
  }
  69% {
    top: 11px;
  }
  70% {
    top: 10px;
  }
  71% {
    top: 9px;
  }
  72% {
    top: 8px;
  }
  73% {
    top: 7px;
  }
  74% {
    top: 6px;
  }
  75% {
    top: 5px;
  }
  76% {
    top: 6px;
  }
  77% {
    top: 7px;
  }
  78% {
    top: 8px;
  }
  79% {
    top: 9px;
  }
  80% {
    top: 10px;
  }
  81% {
    top: 11px;
  }
  82% {
    top: 12px;
  }
  83% {
    top: 13px;
  }
  84% {
    top: 14px;
  }
  85% {
    top: 15px;
  }
  86% {
    top: 16px;
  }
  87% {
    top: 17px;
  }
  88% {
    top: 18px;
  }
  89% {
    top: 19px;
  }
  90% {
    top: 20px;
  }
  91% {
    top: 21px;
  }
  92% {
    top: 22px;
  }
  93% {
    top: 23px;
  }
  94% {
    top: 24px;
  }
  95% {
    top: 25px;
  }
  96% {
    top: 26px;
  }
  97% {
    top: 27px;
  }
  98% {
    top: 28px;
  }
  99% {
    top: 29px;
  }
  100% {
    top: 30px;
  }
}

@keyframes circle-animation-1 {
  0% {
    top: 30px;
  }
  1% {
    top: 31px;
  }
  2% {
    top: 32px;
  }
  3% {
    top: 33px;
  }
  4% {
    top: 34px;
  }
  5% {
    top: 35px;
  }
  6% {
    top: 36px;
  }
  7% {
    top: 37px;
  }
  8% {
    top: 38px;
  }
  9% {
    top: 39px;
  }
  10% {
    top: 40px;
  }
  11% {
    top: 41px;
  }
  12% {
    top: 42px;
  }
  13% {
    top: 43px;
  }
  14% {
    top: 44px;
  }
  15% {
    top: 45px;
  }
  16% {
    top: 46px;
  }
  17% {
    top: 47px;
  }
  18% {
    top: 48px;
  }
  19% {
    top: 49px;
  }
  20% {
    top: 50px;
  }
  21% {
    top: 51px;
  }
  22% {
    top: 52px;
  }
  23% {
    top: 53px;
  }
  24% {
    top: 54px;
  }
  25% {
    top: 55px;
  }
  26% {
    top: 54px;
  }
  27% {
    top: 53px;
  }
  28% {
    top: 52px;
  }
  29% {
    top: 51px;
  }
  30% {
    top: 50px;
  }
  31% {
    top: 49px;
  }
  32% {
    top: 48px;
  }
  33% {
    top: 47px;
  }
  34% {
    top: 46px;
  }
  35% {
    top: 45px;
  }
  36% {
    top: 44px;
  }
  37% {
    top: 43px;
  }
  38% {
    top: 42px;
  }
  39% {
    top: 41px;
  }
  40% {
    top: 40px;
  }
  41% {
    top: 39px;
  }
  42% {
    top: 38px;
  }
  43% {
    top: 37px;
  }
  44% {
    top: 36px;
  }
  45% {
    top: 35px;
  }
  46% {
    top: 34px;
  }
  47% {
    top: 33px;
  }
  48% {
    top: 32px;
  }
  49% {
    top: 31px;
  }
  50% {
    top: 30px;
  }
  51% {
    top: 29px;
  }
  52% {
    top: 28px;
  }
  53% {
    top: 27px;
  }
  54% {
    top: 26px;
  }
  55% {
    top: 25px;
  }
  56% {
    top: 24px;
  }
  57% {
    top: 23px;
  }
  58% {
    top: 22px;
  }
  59% {
    top: 21px;
  }
  60% {
    top: 20px;
  }
  61% {
    top: 19px;
  }
  62% {
    top: 18px;
  }
  63% {
    top: 17px;
  }
  64% {
    top: 16px;
  }
  65% {
    top: 15px;
  }
  66% {
    top: 14px;
  }
  67% {
    top: 13px;
  }
  68% {
    top: 12px;
  }
  69% {
    top: 11px;
  }
  70% {
    top: 10px;
  }
  71% {
    top: 9px;
  }
  72% {
    top: 8px;
  }
  73% {
    top: 7px;
  }
  74% {
    top: 6px;
  }
  75% {
    top: 5px;
  }
  76% {
    top: 6px;
  }
  77% {
    top: 7px;
  }
  78% {
    top: 8px;
  }
  79% {
    top: 9px;
  }
  80% {
    top: 10px;
  }
  81% {
    top: 11px;
  }
  82% {
    top: 12px;
  }
  83% {
    top: 13px;
  }
  84% {
    top: 14px;
  }
  85% {
    top: 15px;
  }
  86% {
    top: 16px;
  }
  87% {
    top: 17px;
  }
  88% {
    top: 18px;
  }
  89% {
    top: 19px;
  }
  90% {
    top: 20px;
  }
  91% {
    top: 21px;
  }
  92% {
    top: 22px;
  }
  93% {
    top: 23px;
  }
  94% {
    top: 24px;
  }
  95% {
    top: 25px;
  }
  96% {
    top: 26px;
  }
  97% {
    top: 27px;
  }
  98% {
    top: 28px;
  }
  99% {
    top: 29px;
  }
  100% {
    top: 30px;
  }
}

@-webkit-keyframes circle-animation-2 {
  0% {
    right: 30px;
  }
  1% {
    right: 31px;
  }
  2% {
    right: 32px;
  }
  3% {
    right: 33px;
  }
  4% {
    right: 34px;
  }
  5% {
    right: 35px;
  }
  6% {
    right: 36px;
  }
  7% {
    right: 37px;
  }
  8% {
    right: 38px;
  }
  9% {
    right: 39px;
  }
  10% {
    right: 40px;
  }
  11% {
    right: 41px;
  }
  12% {
    right: 42px;
  }
  13% {
    right: 43px;
  }
  14% {
    right: 44px;
  }
  15% {
    right: 45px;
  }
  16% {
    right: 46px;
  }
  17% {
    right: 47px;
  }
  18% {
    right: 48px;
  }
  19% {
    right: 49px;
  }
  20% {
    right: 50px;
  }
  21% {
    right: 51px;
  }
  22% {
    right: 52px;
  }
  23% {
    right: 53px;
  }
  24% {
    right: 54px;
  }
  25% {
    right: 55px;
  }
  26% {
    right: 54px;
  }
  27% {
    right: 53px;
  }
  28% {
    right: 52px;
  }
  29% {
    right: 51px;
  }
  30% {
    right: 50px;
  }
  31% {
    right: 49px;
  }
  32% {
    right: 48px;
  }
  33% {
    right: 47px;
  }
  34% {
    right: 46px;
  }
  35% {
    right: 45px;
  }
  36% {
    right: 44px;
  }
  37% {
    right: 43px;
  }
  38% {
    right: 42px;
  }
  39% {
    right: 41px;
  }
  40% {
    right: 40px;
  }
  41% {
    right: 39px;
  }
  42% {
    right: 38px;
  }
  43% {
    right: 37px;
  }
  44% {
    right: 36px;
  }
  45% {
    right: 35px;
  }
  46% {
    right: 34px;
  }
  47% {
    right: 33px;
  }
  48% {
    right: 32px;
  }
  49% {
    right: 31px;
  }
  50% {
    right: 30px;
  }
  51% {
    right: 29px;
  }
  52% {
    right: 28px;
  }
  53% {
    right: 27px;
  }
  54% {
    right: 26px;
  }
  55% {
    right: 25px;
  }
  56% {
    right: 24px;
  }
  57% {
    right: 23px;
  }
  58% {
    right: 22px;
  }
  59% {
    right: 21px;
  }
  60% {
    right: 20px;
  }
  61% {
    right: 19px;
  }
  62% {
    right: 18px;
  }
  63% {
    right: 17px;
  }
  64% {
    right: 16px;
  }
  65% {
    right: 15px;
  }
  66% {
    right: 14px;
  }
  67% {
    right: 13px;
  }
  68% {
    right: 12px;
  }
  69% {
    right: 11px;
  }
  70% {
    right: 10px;
  }
  71% {
    right: 9px;
  }
  72% {
    right: 8px;
  }
  73% {
    right: 7px;
  }
  74% {
    right: 6px;
  }
  75% {
    right: 5px;
  }
  76% {
    right: 6px;
  }
  77% {
    right: 7px;
  }
  78% {
    right: 8px;
  }
  79% {
    right: 9px;
  }
  80% {
    right: 10px;
  }
  81% {
    right: 11px;
  }
  82% {
    right: 12px;
  }
  83% {
    right: 13px;
  }
  84% {
    right: 14px;
  }
  85% {
    right: 15px;
  }
  86% {
    right: 16px;
  }
  87% {
    right: 17px;
  }
  88% {
    right: 18px;
  }
  89% {
    right: 19px;
  }
  90% {
    right: 20px;
  }
  91% {
    right: 21px;
  }
  92% {
    right: 22px;
  }
  93% {
    right: 23px;
  }
  94% {
    right: 24px;
  }
  95% {
    right: 25px;
  }
  96% {
    right: 26px;
  }
  97% {
    right: 27px;
  }
  98% {
    right: 28px;
  }
  99% {
    right: 29px;
  }
  100% {
    right: 30px;
  }
}

@keyframes circle-animation-2 {
  0% {
    right: 30px;
  }
  1% {
    right: 31px;
  }
  2% {
    right: 32px;
  }
  3% {
    right: 33px;
  }
  4% {
    right: 34px;
  }
  5% {
    right: 35px;
  }
  6% {
    right: 36px;
  }
  7% {
    right: 37px;
  }
  8% {
    right: 38px;
  }
  9% {
    right: 39px;
  }
  10% {
    right: 40px;
  }
  11% {
    right: 41px;
  }
  12% {
    right: 42px;
  }
  13% {
    right: 43px;
  }
  14% {
    right: 44px;
  }
  15% {
    right: 45px;
  }
  16% {
    right: 46px;
  }
  17% {
    right: 47px;
  }
  18% {
    right: 48px;
  }
  19% {
    right: 49px;
  }
  20% {
    right: 50px;
  }
  21% {
    right: 51px;
  }
  22% {
    right: 52px;
  }
  23% {
    right: 53px;
  }
  24% {
    right: 54px;
  }
  25% {
    right: 55px;
  }
  26% {
    right: 54px;
  }
  27% {
    right: 53px;
  }
  28% {
    right: 52px;
  }
  29% {
    right: 51px;
  }
  30% {
    right: 50px;
  }
  31% {
    right: 49px;
  }
  32% {
    right: 48px;
  }
  33% {
    right: 47px;
  }
  34% {
    right: 46px;
  }
  35% {
    right: 45px;
  }
  36% {
    right: 44px;
  }
  37% {
    right: 43px;
  }
  38% {
    right: 42px;
  }
  39% {
    right: 41px;
  }
  40% {
    right: 40px;
  }
  41% {
    right: 39px;
  }
  42% {
    right: 38px;
  }
  43% {
    right: 37px;
  }
  44% {
    right: 36px;
  }
  45% {
    right: 35px;
  }
  46% {
    right: 34px;
  }
  47% {
    right: 33px;
  }
  48% {
    right: 32px;
  }
  49% {
    right: 31px;
  }
  50% {
    right: 30px;
  }
  51% {
    right: 29px;
  }
  52% {
    right: 28px;
  }
  53% {
    right: 27px;
  }
  54% {
    right: 26px;
  }
  55% {
    right: 25px;
  }
  56% {
    right: 24px;
  }
  57% {
    right: 23px;
  }
  58% {
    right: 22px;
  }
  59% {
    right: 21px;
  }
  60% {
    right: 20px;
  }
  61% {
    right: 19px;
  }
  62% {
    right: 18px;
  }
  63% {
    right: 17px;
  }
  64% {
    right: 16px;
  }
  65% {
    right: 15px;
  }
  66% {
    right: 14px;
  }
  67% {
    right: 13px;
  }
  68% {
    right: 12px;
  }
  69% {
    right: 11px;
  }
  70% {
    right: 10px;
  }
  71% {
    right: 9px;
  }
  72% {
    right: 8px;
  }
  73% {
    right: 7px;
  }
  74% {
    right: 6px;
  }
  75% {
    right: 5px;
  }
  76% {
    right: 6px;
  }
  77% {
    right: 7px;
  }
  78% {
    right: 8px;
  }
  79% {
    right: 9px;
  }
  80% {
    right: 10px;
  }
  81% {
    right: 11px;
  }
  82% {
    right: 12px;
  }
  83% {
    right: 13px;
  }
  84% {
    right: 14px;
  }
  85% {
    right: 15px;
  }
  86% {
    right: 16px;
  }
  87% {
    right: 17px;
  }
  88% {
    right: 18px;
  }
  89% {
    right: 19px;
  }
  90% {
    right: 20px;
  }
  91% {
    right: 21px;
  }
  92% {
    right: 22px;
  }
  93% {
    right: 23px;
  }
  94% {
    right: 24px;
  }
  95% {
    right: 25px;
  }
  96% {
    right: 26px;
  }
  97% {
    right: 27px;
  }
  98% {
    right: 28px;
  }
  99% {
    right: 29px;
  }
  100% {
    right: 30px;
  }
}

@-webkit-keyframes circle-animation-3 {
  0% {
    bottom: 30px;
  }
  1% {
    bottom: 31px;
  }
  2% {
    bottom: 32px;
  }
  3% {
    bottom: 33px;
  }
  4% {
    bottom: 34px;
  }
  5% {
    bottom: 35px;
  }
  6% {
    bottom: 36px;
  }
  7% {
    bottom: 37px;
  }
  8% {
    bottom: 38px;
  }
  9% {
    bottom: 39px;
  }
  10% {
    bottom: 40px;
  }
  11% {
    bottom: 41px;
  }
  12% {
    bottom: 42px;
  }
  13% {
    bottom: 43px;
  }
  14% {
    bottom: 44px;
  }
  15% {
    bottom: 45px;
  }
  16% {
    bottom: 46px;
  }
  17% {
    bottom: 47px;
  }
  18% {
    bottom: 48px;
  }
  19% {
    bottom: 49px;
  }
  20% {
    bottom: 50px;
  }
  21% {
    bottom: 51px;
  }
  22% {
    bottom: 52px;
  }
  23% {
    bottom: 53px;
  }
  24% {
    bottom: 54px;
  }
  25% {
    bottom: 55px;
  }
  26% {
    bottom: 54px;
  }
  27% {
    bottom: 53px;
  }
  28% {
    bottom: 52px;
  }
  29% {
    bottom: 51px;
  }
  30% {
    bottom: 50px;
  }
  31% {
    bottom: 49px;
  }
  32% {
    bottom: 48px;
  }
  33% {
    bottom: 47px;
  }
  34% {
    bottom: 46px;
  }
  35% {
    bottom: 45px;
  }
  36% {
    bottom: 44px;
  }
  37% {
    bottom: 43px;
  }
  38% {
    bottom: 42px;
  }
  39% {
    bottom: 41px;
  }
  40% {
    bottom: 40px;
  }
  41% {
    bottom: 39px;
  }
  42% {
    bottom: 38px;
  }
  43% {
    bottom: 37px;
  }
  44% {
    bottom: 36px;
  }
  45% {
    bottom: 35px;
  }
  46% {
    bottom: 34px;
  }
  47% {
    bottom: 33px;
  }
  48% {
    bottom: 32px;
  }
  49% {
    bottom: 31px;
  }
  50% {
    bottom: 30px;
  }
  51% {
    bottom: 29px;
  }
  52% {
    bottom: 28px;
  }
  53% {
    bottom: 27px;
  }
  54% {
    bottom: 26px;
  }
  55% {
    bottom: 25px;
  }
  56% {
    bottom: 24px;
  }
  57% {
    bottom: 23px;
  }
  58% {
    bottom: 22px;
  }
  59% {
    bottom: 21px;
  }
  60% {
    bottom: 20px;
  }
  61% {
    bottom: 19px;
  }
  62% {
    bottom: 18px;
  }
  63% {
    bottom: 17px;
  }
  64% {
    bottom: 16px;
  }
  65% {
    bottom: 15px;
  }
  66% {
    bottom: 14px;
  }
  67% {
    bottom: 13px;
  }
  68% {
    bottom: 12px;
  }
  69% {
    bottom: 11px;
  }
  70% {
    bottom: 10px;
  }
  71% {
    bottom: 9px;
  }
  72% {
    bottom: 8px;
  }
  73% {
    bottom: 7px;
  }
  74% {
    bottom: 6px;
  }
  75% {
    bottom: 5px;
  }
  76% {
    bottom: 6px;
  }
  77% {
    bottom: 7px;
  }
  78% {
    bottom: 8px;
  }
  79% {
    bottom: 9px;
  }
  80% {
    bottom: 10px;
  }
  81% {
    bottom: 11px;
  }
  82% {
    bottom: 12px;
  }
  83% {
    bottom: 13px;
  }
  84% {
    bottom: 14px;
  }
  85% {
    bottom: 15px;
  }
  86% {
    bottom: 16px;
  }
  87% {
    bottom: 17px;
  }
  88% {
    bottom: 18px;
  }
  89% {
    bottom: 19px;
  }
  90% {
    bottom: 20px;
  }
  91% {
    bottom: 21px;
  }
  92% {
    bottom: 22px;
  }
  93% {
    bottom: 23px;
  }
  94% {
    bottom: 24px;
  }
  95% {
    bottom: 25px;
  }
  96% {
    bottom: 26px;
  }
  97% {
    bottom: 27px;
  }
  98% {
    bottom: 28px;
  }
  99% {
    bottom: 29px;
  }
  100% {
    bottom: 30px;
  }
}

@keyframes circle-animation-3 {
  0% {
    bottom: 30px;
  }
  1% {
    bottom: 31px;
  }
  2% {
    bottom: 32px;
  }
  3% {
    bottom: 33px;
  }
  4% {
    bottom: 34px;
  }
  5% {
    bottom: 35px;
  }
  6% {
    bottom: 36px;
  }
  7% {
    bottom: 37px;
  }
  8% {
    bottom: 38px;
  }
  9% {
    bottom: 39px;
  }
  10% {
    bottom: 40px;
  }
  11% {
    bottom: 41px;
  }
  12% {
    bottom: 42px;
  }
  13% {
    bottom: 43px;
  }
  14% {
    bottom: 44px;
  }
  15% {
    bottom: 45px;
  }
  16% {
    bottom: 46px;
  }
  17% {
    bottom: 47px;
  }
  18% {
    bottom: 48px;
  }
  19% {
    bottom: 49px;
  }
  20% {
    bottom: 50px;
  }
  21% {
    bottom: 51px;
  }
  22% {
    bottom: 52px;
  }
  23% {
    bottom: 53px;
  }
  24% {
    bottom: 54px;
  }
  25% {
    bottom: 55px;
  }
  26% {
    bottom: 54px;
  }
  27% {
    bottom: 53px;
  }
  28% {
    bottom: 52px;
  }
  29% {
    bottom: 51px;
  }
  30% {
    bottom: 50px;
  }
  31% {
    bottom: 49px;
  }
  32% {
    bottom: 48px;
  }
  33% {
    bottom: 47px;
  }
  34% {
    bottom: 46px;
  }
  35% {
    bottom: 45px;
  }
  36% {
    bottom: 44px;
  }
  37% {
    bottom: 43px;
  }
  38% {
    bottom: 42px;
  }
  39% {
    bottom: 41px;
  }
  40% {
    bottom: 40px;
  }
  41% {
    bottom: 39px;
  }
  42% {
    bottom: 38px;
  }
  43% {
    bottom: 37px;
  }
  44% {
    bottom: 36px;
  }
  45% {
    bottom: 35px;
  }
  46% {
    bottom: 34px;
  }
  47% {
    bottom: 33px;
  }
  48% {
    bottom: 32px;
  }
  49% {
    bottom: 31px;
  }
  50% {
    bottom: 30px;
  }
  51% {
    bottom: 29px;
  }
  52% {
    bottom: 28px;
  }
  53% {
    bottom: 27px;
  }
  54% {
    bottom: 26px;
  }
  55% {
    bottom: 25px;
  }
  56% {
    bottom: 24px;
  }
  57% {
    bottom: 23px;
  }
  58% {
    bottom: 22px;
  }
  59% {
    bottom: 21px;
  }
  60% {
    bottom: 20px;
  }
  61% {
    bottom: 19px;
  }
  62% {
    bottom: 18px;
  }
  63% {
    bottom: 17px;
  }
  64% {
    bottom: 16px;
  }
  65% {
    bottom: 15px;
  }
  66% {
    bottom: 14px;
  }
  67% {
    bottom: 13px;
  }
  68% {
    bottom: 12px;
  }
  69% {
    bottom: 11px;
  }
  70% {
    bottom: 10px;
  }
  71% {
    bottom: 9px;
  }
  72% {
    bottom: 8px;
  }
  73% {
    bottom: 7px;
  }
  74% {
    bottom: 6px;
  }
  75% {
    bottom: 5px;
  }
  76% {
    bottom: 6px;
  }
  77% {
    bottom: 7px;
  }
  78% {
    bottom: 8px;
  }
  79% {
    bottom: 9px;
  }
  80% {
    bottom: 10px;
  }
  81% {
    bottom: 11px;
  }
  82% {
    bottom: 12px;
  }
  83% {
    bottom: 13px;
  }
  84% {
    bottom: 14px;
  }
  85% {
    bottom: 15px;
  }
  86% {
    bottom: 16px;
  }
  87% {
    bottom: 17px;
  }
  88% {
    bottom: 18px;
  }
  89% {
    bottom: 19px;
  }
  90% {
    bottom: 20px;
  }
  91% {
    bottom: 21px;
  }
  92% {
    bottom: 22px;
  }
  93% {
    bottom: 23px;
  }
  94% {
    bottom: 24px;
  }
  95% {
    bottom: 25px;
  }
  96% {
    bottom: 26px;
  }
  97% {
    bottom: 27px;
  }
  98% {
    bottom: 28px;
  }
  99% {
    bottom: 29px;
  }
  100% {
    bottom: 30px;
  }
}

@-webkit-keyframes hr-animation {
  0% {
    width: 1px;
  }
  3% {
    width: 2px;
  }
  6% {
    width: 3px;
  }
  9% {
    width: 4px;
  }
  12% {
    width: 5px;
  }
  15% {
    width: 6px;
  }
  18% {
    width: 7px;
  }
  21% {
    width: 8px;
  }
  24% {
    width: 9px;
  }
  27% {
    width: 10px;
  }
  30% {
    width: 11px;
  }
  33% {
    width: 12px;
  }
  36% {
    width: 13px;
  }
  39% {
    width: 14px;
  }
  42% {
    width: 15px;
  }
  45% {
    width: 16px;
  }
  48% {
    width: 17px;
  }
  51% {
    width: 18px;
  }
  54% {
    width: 19px;
  }
  57% {
    width: 20px;
  }
  60% {
    width: 21px;
  }
  63% {
    width: 22px;
  }
  66% {
    width: 23px;
  }
  69% {
    width: 24px;
  }
  72% {
    width: 25px;
  }
  75% {
    width: 26px;
  }
  78% {
    width: 27px;
  }
  78% {
    width: 28px;
  }
  81% {
    width: 29px;
  }
  84% {
    width: 30px;
  }
  87% {
    width: 30px;
  }
  90% {
    width: 30px;
  }
  93% {
    width: 30px;
  }
  96% {
    width: 30px;
  }
  100% {
    width: 30px;
  }
}

@keyframes hr-animation {
  0% {
    width: 1px;
  }
  3% {
    width: 2px;
  }
  6% {
    width: 3px;
  }
  9% {
    width: 4px;
  }
  12% {
    width: 5px;
  }
  15% {
    width: 6px;
  }
  18% {
    width: 7px;
  }
  21% {
    width: 8px;
  }
  24% {
    width: 9px;
  }
  27% {
    width: 10px;
  }
  30% {
    width: 11px;
  }
  33% {
    width: 12px;
  }
  36% {
    width: 13px;
  }
  39% {
    width: 14px;
  }
  42% {
    width: 15px;
  }
  45% {
    width: 16px;
  }
  48% {
    width: 17px;
  }
  51% {
    width: 18px;
  }
  54% {
    width: 19px;
  }
  57% {
    width: 20px;
  }
  60% {
    width: 21px;
  }
  63% {
    width: 22px;
  }
  66% {
    width: 23px;
  }
  69% {
    width: 24px;
  }
  72% {
    width: 25px;
  }
  75% {
    width: 26px;
  }
  78% {
    width: 27px;
  }
  78% {
    width: 28px;
  }
  81% {
    width: 29px;
  }
  84% {
    width: 30px;
  }
  87% {
    width: 30px;
  }
  90% {
    width: 30px;
  }
  93% {
    width: 30px;
  }
  96% {
    width: 30px;
  }
  100% {
    width: 30px;
  }
}
/*# sourceMappingURL=style.css.map */